/*Universal*/
/* Page */
body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

*{
    font-family: verdana;
}

header{
    min-height: 50px;
    position: fixed;
}

main{
    flex: 1;
    margin-top: 5em;
}
footer{
margin-top: 2em;
min-height: 50px;
}

/* .container{
    display: flex
} */

.text-center{
    text-align: center;
}

/*--> Index <--*/
/*Do as grid?*/

/*Nav*/
.navbar{
    display: flex;
    /* justify-content: right; */
    align-items: center;
    height: 2em;
    line-height: 2em;
    background-color: black;
    /* background-color: transparent; */
    letter-spacing: 0.1em;
    /* position: fixed; */
    padding-top: 30px;
    padding-bottom: 30px; 
    }

    .nav-container{
        width: 100vw;
    }

    .nav-item{
        padding: 1em 0em;
        color: white;
        
    }

    .nav-item-right{
        margin: 0.5em;
        font-size: 1.3em;
    }

    .navbar-left{
        float: left;
        /* margin-left: 0px; */
        font-size: 1.8em;
    }

    .navbar-right{
        display: flex;
        float: right;
        padding: 10px;
        margin-left: 30em;
        margin-right: 0.5em;
        margin-top: 2.5em;
    }

    .nav-link{
        text-decoration: none;
        color: white;
    }

  
    .nav-link:hover {
        color: #69b5e7 !important;
        text-decoration: underline !important;
    }
    
    
    .nav>li{
        list-style: none;
    }

    /*Media only */

    @media all and (max-width: 1430px){
        .navbar-collapse{
            flex-direction: column;
        }
    }
/*---> Index <---*/

.main-paragraph{
    margin: 2em;
    font-size: 1.5em;
}
.href-icons-div{
    margin-top: 2em;
    margin-bottom: 5em;
    padding: 0.5em;
}

.href-icons{
    padding: 1em;
}
.skill-div{
    margin: 2em;
}

.skill-icon{
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
}

/*Profile Pic Img*/
.profile-img{
    margin-top: 3em;
    height: 20em;
    width: 20em;
    border-radius: 50%;
    border-style: solid;
}

/*Main Img Logo*/
.logo-img{

    height: 10em;
    width: 10em;
    border-radius: 50%;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.paragraph {
    clear: right;
}

/*--> Portfolio <--*/

.portfolio-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    height: 350px;
    width: auto;
    padding: 0;
    margin: 0;

}
.page-title{
    display: block;
    font-size: 3vw;
    letter-spacing: 2px;
    color: black;
    width: 200px;
    height: 100px;
    margin: auto;
    justify-content: center;
    margin-top: 2em;

}


/*Contact*/
.contact-section{
    display: flex;
    justify-content: center;
}

.contact-info{
    font-size: 1.5em;
}

input, textarea, keygen, select, button {
    margin-top: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    font-family: system-ui;
    font-variant-caps: normal;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    }

input, textarea, keygen, select, button, meter, progress {
    writing-mode: horizontal-tb;
    }